In [1]:
import pandas as pd, numpy as np
from matplotlib import pyplot as plt
import scipy.stats  as stats
pd.options.display.max_columns = 50

In [2]:
best = pd.read_csv("./submission_final_trend.csv") # read your submission from Accuracy
best.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HOBBIES_1_002_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,HOBBIES_1_005_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
sales = pd.read_csv("../data/sales_train_evaluation.csv")
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,d_11,d_12,d_13,d_14,d_15,d_16,d_17,d_18,d_19,...,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,d_1923,d_1924,d_1925,d_1926,d_1927,d_1928,d_1929,d_1930,d_1931,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,2,0,3,5,0,0,1,1,0,2,1,2,2,1,0,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,0,2,1,0,0,0,0,2,1,3,0,0,1,0,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,2,4,1,6,4,0,0,0,2,2,4,2,1,1,1,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,3,1,0,3,2,3,1,1,3,2,3,2,2,2,2,0,0,0,2,1,0,0,2,1,0

In [4]:
sales["_all_"] = "Total"
sub = sales[["id", "item_id", "dept_id", "cat_id", "store_id", "state_id","_all_"]].merge(best, on='id')
sub.shape

(30490, 35)

In [5]:
sub.head()

,id,item_id,dept_id,cat_id,store_id,state_id,_all_,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,Total,0.918264,0.796664,0.791954,0.821685,1.045806,1.285319,1.141094,1.032201,0.840966,0.989774,0.840281,1.102659,1.315677,1.212843,0.917466,0.855784,0.908183,0.854815,0.993580,1.372135,1.235836,0.945738,0.865669,0.864067,0.901229,1.124198,1.281464,1.095358
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,Total,0.213133,0.184451,0.195864,0.187838,0.218024,0.291563,0.318827,0.236667,0.205034,0.237170,0.195599,0.276125,0.352126,0.334592,0.233128,0.225938,0.223770,0.235445,0.270260,0.355699,0.385131,0.242342,0.233962,0.238769,0.252697,0.289979,0.372398,0.429392
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,Total,0.553381,0.483516,0.484873,0.521295,0.670220,0.789781,0.820607,0.578645,0.514128,0.506316,0.479581,0.689976,0.846763,0.757127,0.495911,0.489367,0.481832,0.487623,0.631050,0.762273,0.758596,0.537508,0.471891,0.503646,0.491924,0.711884,0.780357,0.820735
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,Total,1.574574,1.339066,1.321975,1.392465,1.895999,2.564472,2.976561,1.980616,1.409757,1.410794,1.367435,2.250915,2.904999,3.062540,1.633695,1.535559,1.327304,1.401895,1.937201,2.491601,3.023880,1.742607,1.401913,1.423819,1.463027,1.958001,2.668496,2.864890
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,Total,1.084491,1.001737,0.952641,1.008508,1.151473,1.381738,1.541682,1.189453,0.996937,1.091295,0.993947,1.376091,1.639072,1.694882,1.173497,1.063136,1.041769,1.095925,1.285701,1.525709,1.541191,1.195017,1.083633,1.038840,1.092791,1.347119,1.597062,1.414379

In [6]:
qs = np.array([0.005,0.025,0.165,0.25, 0.5, 0.75, 0.835, 0.975, 0.995])

def get_ratios(coef=0.15):
    qs2 = np.log(qs/(1-qs))*coef
    ratios = stats.norm.cdf(qs2)
    ratios /= ratios[4]
    ratios = pd.Series(ratios, index=qs)
    return ratios.round(3)

# coef between 0.03 and 0.25 is used, probably suboptimal values for now
# If you're not sure about your Accuracy submission, you should make the distribution wider.
level_coef_dict = {
    "_all_": get_ratios(coef=0.03),
    "state_id": get_ratios(coef=0.04),
    "store_id": get_ratios(coef=0.05),
    "cat_id": get_ratios(coef=0.04),
    "dept_id": get_ratios(coef=0.05),
    ("state_id", "cat_id"): get_ratios(coef=0.05),
    ("state_id", "dept_id"): get_ratios(coef=0.07),
    ("store_id","cat_id"): get_ratios(coef=0.07),
    ("store_id","dept_id") : get_ratios(coef=0.08),
    "item_id": get_ratios(coef=0.11),
    ("state_id", "item_id"): get_ratios(coef=0.15),
    "id": get_ratios(coef=0.25)
}

In [7]:
level_coef_dict["cat_id"]

0.005    0.832
0.025    0.883
0.165    0.948
0.250    0.965
0.500    1.000
0.750    1.035
0.835    1.052
0.975    1.117
0.995    1.168
dtype: float64

In [8]:
level_coef_dict["id"]

0.005    0.186
0.025    0.360
0.165    0.685
0.250    0.784
0.500    1.000
0.750    1.216
0.835    1.315
0.975    1.640
0.995    1.814
dtype: float64

In [9]:
def quantile_coefs(q, level):
    ratios = level_coef_dict[level]
    return ratios.loc[q].values

def get_group_preds(pred, level):
    df = pred.groupby(level)[cols].sum()
    q = np.repeat(qs, len(df))
    df = pd.concat([df]*9, axis=0, sort=False)
    df.reset_index(inplace = True)
    df[cols] *= quantile_coefs(q, level)[:, None]
    if level != "id":
        df["id"] = [f"{lev}_X_{q:.3f}_evaluation" for lev, q in zip(df[level].values, q)]
    else:
        df["id"] = [f"{lev.replace('_evaluation', '')}_{q:.3f}_evaluation" for lev, q in zip(df[level].values, q)]
    df = df[["id"]+list(cols)]
    return df

def get_couple_group_preds(pred, level1, level2):
    df = pred.groupby([level1, level2])[cols].sum()
    q = np.repeat(qs, len(df))
    df = pd.concat([df]*9, axis=0, sort=False)
    df.reset_index(inplace = True)
    df[cols] *= quantile_coefs(q, (level1, level2))[:, None]
    df["id"] = [f"{lev1}_{lev2}_{q:.3f}_evaluation" for lev1,lev2, q in 
                zip(df[level1].values,df[level2].values, q)]
    df = df[["id"]+list(cols)]
    return df

levels = ["id", "item_id", "dept_id", "cat_id", "store_id", "state_id", "_all_"]
couples = [("state_id", "item_id"),  ("state_id", "dept_id"),("store_id","dept_id"),
                            ("state_id", "cat_id"),("store_id","cat_id")]
cols = [f"F{i}" for i in range(1, 29)]

df = []
for level in levels :
    df.append(get_group_preds(sub, level))
for level1,level2 in couples:
    df.append(get_couple_group_preds(sub, level1, level2))
df = pd.concat(df, axis=0, sort=False)
df.reset_index(drop=True, inplace=True)
df = pd.concat([df,df] , axis=0, sort=False)
df.reset_index(drop=True, inplace=True)
df.loc[df.index >= len(df.index)//2, "id"] = df.loc[df.index >= len(df.index)//2, "id"].str.replace(
                                    "_evaluation$", "_validation")

In [10]:
df.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_1_001_CA_1_0.005_evaluation,0.122211,0.120498,0.119327,0.126808,0.141379,0.177378,0.167711,0.150933,0.152937,0.165246,0.133337,0.204609,0.194909,0.170392,0.150793,0.148441,0.138114,0.135568,0.174884,0.201071,0.178161,0.138432,0.143432,0.136721,0.138333,0.159705,0.170327,0.149592
1,FOODS_1_001_CA_2_0.005_evaluation,0.175806,0.183106,0.178569,0.187183,0.188502,0.247703,0.246071,0.221601,0.214515,0.203659,0.211799,0.229443,0.254705,0.285283,0.208792,0.202002,0.213701,0.208579,0.242997,0.292267,0.288007,0.201606,0.212901,0.210171,0.222360,0.237546,0.259665,0.219723
2,FOODS_1_001_CA_3_0.005_evaluation,0.157619,0.140633,0.151590,0.152216,0.193933,0.253339,0.257739,0.241424,0.172397,0.176635,0.190915,0.198563,0.230823,0.250965,0.164921,0.166011,0.153656,0.160648,0.194160,0.237844,0.237251,0.164069,0.161041,0.170893,0.166499,0.202582,0.247733,0.257830
3,FOODS_1_001_CA_4_0.005_evaluation,0.074806,0.069993,0.064572,0.066909,0.070280,0.065974,0.062539,0.066443,0.062746,0.066840,0.078224,0.070469,0.076170,0.067951,0.067756,0.060755,0.066900,0.063578,0.068843,0.070865,0.064750,0.067050,0.065318,0.068203,0.068225,0.071132,0.070256,0.062423
4,FOODS_1_001_TX_1_0.005_evaluation,0.110040,0.107578,0.099201,0.103035,0.104393,0.121087,0.132966,0.128823,0.113256,0.127574,0.120240,0.133030,0.139818,0.147542,0.128052,0.126946,0.108413,0.120132,0.115977,0.140988,0.149446,0.136532,0.127785,0.131345,0.119810,0.122080,0.131498,0.119691

In [11]:
df.to_csv("submission_uncertainty_final.csv", index = False)